@tailwind base;
@tailwind components;
@tailwind utilities;

*{
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
body{
    
    background: rgb(31, 31, 31);
}
.containera{
    display: flex;
    margin-right:10%;
    margin-left: 10%;
   
    
   
  


}

                